// 命名空间
$namespace: v;
// el命名空间
$elNamespace: el;

// 主题色
$primary-color: #237860;
$primary-light-1: #3a8c74;
$primary-light-2: #51a088;
$primary-light-3: #68b49d;
$primary-light-4: #7fc8b1;
$primary-light-5: #96dcc5;
$primary-light-6: #adf0da;
$primary-light-7: #c4ffee;
$primary-light-8: #dbffff;
$primary-light-9: #f2ffff;
$primary-dark-1: #1f6954;
$primary-dark-2: #1b5b48;
